body{
    background-color: #EFF5FB;
}
.game_region{
    text-align:center;
}
#result{
    background-color:#8B572A;
    padding:4px;
    border-radius: 5px;
    margin-bottom:15px;
}
#result span{
    color:#ECA90A
}
.game_region .push_btn{
    width: 60%;
    margin-left: 40%;
}

.round-button {
    width:25%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow:hidden;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#30588e;
}
.round-button span {
    display:block;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
